{% include base.html %}

<!-- Jquery and Bootstrap JS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="{{base}}/bootstrap/js/bootstrap.min.js"></script>

<!-- Easing - for transitions and effects -->
<script src="{{base}}/js/jquery.easing.1.3.js"></script>

<!-- Plugins -->
<script src="{{base}}/js/detectmobilebrowser.js"></script>
<script src="{{base}}/plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="{{base}}/plugins/lightbox/js/lightbox.min.js"></script>
<script src="{{base}}/plugins/masonry/masonry.pkgd.min.js"></script>

<!-- Custom functions for this theme -->
<script src="{{base}}/js/functions.js"></script>
<!-- <script src="js/functions-min.js"></script> -->
<script src="{{base}}/js/initialise-functions.js"></script>
