{% include base.html %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Gerd W&uuml;therich">
  <title>Slizaa</title>

  <!-- favicon -->
  <link rel="icon" type="image/png" href="images/temp/favicon.png">

  <!-- Bootstrap CSS -->
  <link href="{{base}}/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Plugins CSS -->
  <link href="{{base}}/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Theme CSS -->
  <link href="{{base}}/css/style-theme.css" rel="stylesheet">
  <!-- <link href="css/style-theme.min.css" rel="stylesheet"> -->

  <!-- loader -->
  <link href="{{base}}/css/loader.css" rel="stylesheet">
  <script src="{{base}}/plugins/pace/pace.min.js"></script>

  <!-- Custom Theme CSS -->
  <link href="{{base}}/css/styles.css" rel="stylesheet">

  <!-- recaptcha -->
  <script src='https://www.google.com/recaptcha/api.js'></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>