---
layout: default
---

<!-- =========== Section 2 =========== -->
<div class="container-fluid horizontal-section-container clearfix">
    <div class="row">

        <div id="asciidoc-toc"  class="col-sm-3">
            <div id="asciidoc-toc-box">
                {{ page.document | tocify_asciidoc  }}
            </div>
        </div>

        <div class="col-sm-9">

            <!-- Main Page Content -->
            <div id="main-page-content" class="section-container main-page-content clearfix">

                <div class="section-content">

                    {{ content }}

                </div><!-- .section-content -->

            </div><!-- .section-container -->
            <!-- End: Main Page Content -->
        </div><!-- .col-sm-12 -->

    </div><!-- .row -->
</div><!-- .container-fluid -->
<!-- End: Section 2 -->
